@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  overflow-x: hidden;
}


/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;               /* Thin scrollbar */
}



.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #585858; /* Thumb color (blue-600) */
  border-radius: 9999px;    /* Rounded scrollbar */
}
.scaleerrrrrrrrrrrrrr{
  background-color: #000000;
}

